# Configuración del servidor Spring Boot
SERVER_PORT=

# Configuración de MySQL en Docker / Local
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Configuración de Spring Security (Desarrollo)
SECURITY_USER_NAME=
SECURITY_USER_PASSWORD=